# Site settings
title: "It's Agentic!"
description: "My AI Newsletter"
url: "https://terellewis.github.io"
baseurl: ""

# Build settings
markdown: kramdown
permalink: /:year/:month/:day/:title/

# Collections
collections:
  posts:
    output: true

# Defaults
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
